server/chars
server/teams
server/shelters
server/logs
logs
sounds.dat
profile.log
packets.log
server/packets.log
server/profile.log
server/compchars.log
server/prefs/server_state.dat
server/prefs/server_state.dat
server/tkserver.zip
server/tkserver.tar.gz
